@font-face {
  font-family: PressStart2P;
  src: url("../Assets/Fonts/PressStart2P/PressStart2P.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: PressStart2P, "Courier New", Courier, monospace;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

ul li {
  list-style: none;
}

button,
input,
textarea,
a {
  outline: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

button,
a,
label,
select,
option {
  cursor: pointer;
}

a {
  text-decoration: none;
}
